#popupNavMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100dvw;
    height: 100dvh;
    background-color: rgba(0, 0, 0, 0.498);

    > .content {
        width: 250px;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 3rem;
        padding: 2rem;
        background-color: white;

        > button {
            border-style: none;
            background-color: rgba(255, 255, 255, 0);
        }

        > nav {
            display: flex;
            flex-direction: column;
            gap: 2rem;
            font-family: var(--font-kumbhSans-bold);
            font-size: 1.25rem;
            background-color: var(--color-white);

            > a {
                text-decoration: none;
            }
        }
    }
}