@font-face {
    font-family: "KumbhSans-Regular";
    src: url("./assets/fonts/KumbhSans-Regular.ttf");
}

@font-face {
    font-family: "KumbhSans-Bold";
    src: url("./assets/fonts/KumbhSans-Bold.ttf");
}

:root {

    /* FONTS */
    --font-kumbhSans-reg: "KumbhSans-Regular";
    --font-kumbhSans-bold: "KumbhSans-Bold";

    /* COLORS */

    --color-orange: hsl(26, 100%, 55%);
    --color-pale-orange: hsl(25, 100%, 94%);

    --color-very-dark-blue: hsl(220, 13%, 13%);
    --color-dark-grayish-blue: hsl(219, 9%, 45%);
    --color-grayish-blue: hsl(220, 14%, 75%);
    --color-light-grayish-blue: hsl(223, 64%, 98%);
    --color-white: hsl(0, 0%, 100%);
    --color-black: /*(with 75% opacity for lightbox background): */ hsl(0, 0%, 0%)
}


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: var(--color-black);
}

#wrapper {
    width: 100dvw;
    display: flex;
    flex-direction: column;
    
    /* HEADER */
    > header {
        position: fixed;
        width: inherit;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 1.5rem;
        background-color: var(--color-white);
    
        /* LEFT SIDE HEADER */
        > .leftSide {
            display: flex;
            gap: 1rem;
            
            > button {
                display: flex;
                align-items: center;
                border-style: none;
                background-color: var(--color-white);
    
                > img {
                    width: 1.2rem;
                    height: 1.2rem;
                }
            }
    
            > img {
                width: fit-content;
                height: 1.4rem;
            }
    
            > nav {
                display: none;
            }
        }
    
        /* RIGHT SIDE HEADER */
        > .rightSide {
            display: flex;
            align-items: center;
            gap: 1.5rem;
    
            > button {
                border-style: none;
                background-color: var(--color-white);
            }
    
            > img {
                width: 2rem;
            }
        }
    }
}

@media screen and (min-width: 700px) {
    #wrapper {
        
        > header {
            border-bottom-style: solid;
            border-color: var(--color-grayish-blue);
            border-width: 1px;
    
            > .leftSide {
                gap: 3rem;
    
                > button {
                    display: none;
                }
    
                > nav {
                    display: flex;
                    align-items: center;
                    gap: 1rem;
                    
                    > a {
                        font-size: 0.75rem;
                        font-family: var(--font-kumbhSans-reg);
                        color: var(--color-dark-grayish-blue);
                        text-decoration: none;
                    }
                }
            }

            > .rightSide {
                gap: 2rem;

                > img {
                    width: 3rem;
                }
            }
    
        }
    }
}

@media screen and (min-width: 1100px) {
    #wrapper {
        
        > header {
            align-self: center;
            position: none;
            width: 80%;
        }
    }
}